@model CatalogProductsModel

@if (!string.IsNullOrEmpty(Model.WarningMessage))
{
<div class="row">
    <div class="warning">
        @Model.WarningMessage
    </div>
</div>
}

@if (Model.Products.Count > 0)
{
    if (Model.ViewMode == "list")
    {

    }
    else
    {
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-3 mb-5">
            @await Html.PartialAsync("_ProductBox", product)
        </div>
    }
</div>
    }

    var pager = Html.Pager(Model)
        .QueryParam("pagenumber")
        // for search page
        .BooleanParameterName("advs")
        .BooleanParameterName("isc")
        .BooleanParameterName("sid")
        .MainUlCssClass("pagination")
        .CurrentPageCssClass("page-item active")
        .IndividualPageCssClass("page-item")
        .RenderEmptyParameters(true);

    @if (!await pager.IsEmpty())
    {
<div class="row">
    <div class="col">
        <nav aria-label="Pager">
            @pager
        </nav>
    </div>
</div>
    }
}
else if (!string.IsNullOrEmpty(Model.NoResultMessage))
{
<div class="row">
    <div class="no-result">
        @Model.NoResultMessage
    </div>
</div>
}