@model BlogPostTagListModel
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-blogtags">
        <h4 class="title">
            @T("Blog.TagCloud")
        </h4>
        <div class="listbox">
            <ul class="tags list-unstyled mb-0">
                @foreach (var item in Model.Tags)
                {
                    <li><a href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}